<div id="featured" class="clearfix">
	<% news_items = NewsItem.published.translated.limit(4) %>
	
	<div id="featured-nav">
		<ul>
			<% news_items.each do |item| %>
			<li>
				<a href="#">
					<span class="featured-title"><%= truncate(item.title,
			                                                  :length => RefinerySetting.find_or_set(:news_item_short_title_length, 15),
			                                                  :preserve_html_tags => true) %></span>
					<span class="featured-info"><%= l(item.publish_date, :format => :long) %></span>
				</a>
			</li>
			<% end %>				
		</ul>
	</div> <!-- end #featured-nav -->
	
	<div id="slides">
	<% news_items.each do |item| %>
	    <% image = item.image %>
		<div class="slide" style="background: url(<%= image_tag(image.thumbnail("705x382").url) if image %>) no-repeat;">
			<div class="info-overlay">
				<h2 class="slider-title"><%= link_to truncate(item.title,
		                                                  :length => RefinerySetting.find_or_set(:news_item_short_title_length, 15),
		                                                  :preserve_html_tags => true), news_item_url(item) -%></h2>
				<p><%= truncate(item.body,
		                        :length => RefinerySetting.find_or_set(:featured_page_teaser_length, 850),
		                        :preserve_html_tags => true) %></p>
				<a href="<%= news_item_url(item) %>" class="readmore"><span>More Info</span></a>
			</div> <!-- end .info-overlay -->
		</div> <!-- end .slide -->
	<% end %>
	</div> <!-- end #slides -->
</div> <!-- end #featured -->
	
