				</div> <!-- end .container -->
			</div> <!-- end #main-area -->						
										
			<div id="footer">
				<div class="container clearfix">
					<%= render :partial => "/blog/shared/footer" %>
				</div> <!-- end .container -->	
			</div> <!-- end #footer -->	
					
			<div id="footer-bottom">	
				<div class="container clearfix">
					<%= render :partial => "/shared/footer_menu" %>
										
					<p id="copyright">Copyright <%= Time.now.year %> <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %> | Powered by <%= link_to "RefineryCMS", "http://refinerycms.com" %></p>
				</div> <!-- end .container -->	
			</div> <!-- end #footer-bottom -->
		</div> <!-- end #center-highlight-->
	</div> <!-- end #main-bg -->	

	<%= render :partial => "/shared/scripts" %>	
</body>
</html>